body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Didact Gothic', sans-serif;
    letter-spacing: .02em;
}

#wrapper {
    background-color: #f3d0d7;
    margin: 60px 250px;
    padding: 20px 0;
    text-align: center;
}

#title {
    font-size: 300%;
    margin: 25px 0;
    letter-spacing: .1em;
}

#squad {
    width: 350px;
    height: 350px;
    align-content: center;
}